# Server Config
PORT=5000
MONGO_URI=mongodb://localhost:27017/de_roadmap

# Email SMTP Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
REMINDER_EMAIL=your_email@gmail.com
RESEND_API_KEY=your_resend_api_key_here

# Twilio SMS Config
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
USER_PHONE_NUMBER=your_phone_number
JWT_SECRET=your_jwt_secret_here

# Cloudflare Turnstile CAPTCHA Keys
TURNSTILE_SITE_KEY=your_cloudflare_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_cloudflare_turnstile_secret_key_here
